<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../css/main.css">
	<script src="/socket.io/socket.io.js"></script>
	

</head>
<body>
	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>Simulator</h1>
			</div>
			
		</div>

		<div class="editorArea">
				<textarea rows="30" cols="100" id="netlist" style="resize: none;" data-role="none">
				</textarea>
		</div>		
		<div class="buttonArea">
			<button id="doSubmit" class="button">Submit</button>
			<button id="doSaveNetlist" class="button">Save Netlist</button>
			<button id="doClear" class="button">Clear</button>
		</div>

		<div id="messages">
			<p class="fromServer">Server acknowledgement go here</p>
		</div>
	</div>
	
	

	<script>
		console.log("Client Started!!!");
    	var socket = io.connect('http://localhost:3000');
  		console.log("Socket Created!!!");
  		socket.on('loadingPage', function (data) {
  			console.log('Client:'+data);
  			socket.emit('user', 'Connection from user Established');
  		});

  		var editorContent = document.getElementById("netlist");
  		var submitButton = document.getElementById("doSubmit");
		var saveButton = document.getElementById("doSaveNetlist");
		var clearButton = document.getElementById("doClear");
		var messages  = document.getElementById("messages");

		submitButton.addEventListener("click", function() {
			
			var netlist = editorContent.value;

			console.log("Netlist : " + netlist);
			socket.emit("netlist", netlist);
		});

		socket.on("serverMessage", function(message) {
			console.log("RECEIVED: " + message);
			messages.innerHTML += "<br>" + message;
		});

	</script>
</body>
</html>