<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min-3.3.6.css">

    <!-- Custom styles for this template -->
    <link href="../css/customstylesheet.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>
	

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
     	<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="#">Online Simulator</a>
        	</div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <!--form class="navbar-form navbar-right">
	            <div class="form-group">
	              <input type="text" placeholder="Email" class="form-control">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="Password" class="form-control">
	            </div>
	            <button type="submit" class="btn btn-success">Sign in</button>
	          </form-->
	        </div><!--/.navbar-collapse -->
	    </div>
	</nav>

	 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="descNgspice">
      <div class="container">
        <h2>Ngspice</h2>
        <p3>SPICE (Simulation Program with Integrated Circuit Emphasis) is a widely used tool for simulating electrical circuits. The original version was developed at the Electronics Research Laboratory of the University of California, Berkeley. Dozens of variations of SPICE exist, with both free and commercial versions available.

		This site allows you to run ngspice simulations from a web browser environment. Whether you are using a Windows, Linux, or Mac computer, a smart phone, or a tablet, you always should be able to run a SPICE simulation.
		</p3>
      </div>
    </div>


	<div class="container">
		<h2>Editor</h2>
  		<p>Please write your ngspice netlist in the below editor.</p>
  		<form role="form">
    		<div class="form-group editorArea">
      			<textarea class="form-control" rows="20" id="netlist">
      				
      			</textarea>
    		</div>
 		</form>
 		<div class="buttonArea">
			<button id="doSubmit" class="button">Submit</button>
			<button id="doSaveNetlist" class="button">Save Netlist</button>
			<button id="doClear" class="button">Clear</button>
		</div>

		<div id="messages">
			<p class="fromServer">Server acknowledgement go here</p>
		</div>

		<hr>

		<footer>
        	<p>&copy; 2016 FOSSEE, IIT Bombay</p>
    	</footer>

		
	</div> <!-- End container -->


	<script>
		console.log("Client Started!!!");
    	var socket = io.connect('http://localhost:3000');
  		console.log("Socket Created!!!");
  		socket.on('loadingPage', function (data) {
  			console.log('Client : '+data);
  			socket.emit('user',{socketID:socket.id});
  		});

  		var editorContent = document.getElementById("netlist");
  		var submitButton = document.getElementById("doSubmit");
		var saveButton = document.getElementById("doSaveNetlist");
		var clearButton = document.getElementById("doClear");
		var messages  = document.getElementById("messages");

		submitButton.addEventListener("click", function() {
			
			var netlist = editorContent.value;

			console.log("Netlist : " + netlist);
			socket.emit("netlist", netlist);
		});

		clearButton.addEventListener("click",function(){
			var confirmation = confirm("Are you sure to clear the netlist area ?");
			if (confirmation == true) {
   				editorContent.value = '';
			} 
			else {
    			console.log("Netlist area not cleared");
			} 
		});

		socket.on("serverMessage", function(message) {
			console.log("RECEIVED : " + message);
			messages.innerHTML += "<br>" + message;
		});

	</script>
</body>
</html>