<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min-3.3.6.css">

    <!-- Custom styles for this template -->
    <link href="../css/customstylesheet.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/plotly-latest.min.js"></script>	

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
     	<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="#">Online Simulator</a>
        	</div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <!--form class="navbar-form navbar-right">
	            <div class="form-group">
	              <input type="text" placeholder="Email" class="form-control">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="Password" class="form-control">
	            </div>
	            <button type="submit" class="btn btn-success">Sign in</button>
	          </form-->
	        </div><!--/.navbar-collapse -->
	    </div>
	</nav>

	 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="descNgspice">
      <div class="container">
        <h2>Ngspice</h2>
        <p3>SPICE (Simulation Program with Integrated Circuit Emphasis) is a widely used tool for simulating electrical circuits. The original version was developed at the Electronics Research Laboratory of the University of California, Berkeley. Dozens of variations of SPICE exist, with both free and commercial versions available.

		This site allows you to run ngspice simulations from a web browser environment. Whether you are using a Windows, Linux, or Mac computer, a smart phone, or a tablet, you always should be able to run a SPICE simulation.
		</p3>
      </div>
    </div>


	<div class="container">
		<h2>Editor</h2>
  		<p>Please write your ngspice netlist in the below editor.</p>
  		<form role="form">
    		<div class="form-group editorArea">
    		
      			<textarea class="form-control" id="netlist" rows="20"> 
* Author:
* Date:




*Please do not remove this line
.control
	run
.endc
.end
      			</textarea>

    		</div>
 		</form>
 		<div class="buttonArea">
			<button id="doSubmit" class="button">Submit</button>
			<button id="doSaveNetlist" class="button">Save Netlist</button>
			<button id="doClear" class="button">Clear</button>
		</div>
		
		<hr>
		
		<div id="messages">
			<p class="fromServer">Server acknowledgement go here</p>
		</div>

		<div id="graph" style="width:600px;height:250px;">
			<!-- <p class="fromServer">Plotting Data</p> -->
		</div>


		<hr>

		<footer>
        	<p>&copy; 2016 FOSSEE, IIT Bombay</p>
    	</footer>

		
	</div> <!-- End container -->


	<script>
		console.log("Client Started!!!");
    	var socket = io.connect('http://localhost:3000');
  		console.log("Socket Created!!!");
  		socket.on('loadingPage', function (data) {
  			console.log('Client : '+data);
  			socket.emit('user',{socketID:socket.id});
  		});

  		var editorContent = document.getElementById("netlist");
  		var submitButton = document.getElementById("doSubmit");
		var saveButton = document.getElementById("doSaveNetlist");
		var clearButton = document.getElementById("doClear");
		var messages  = document.getElementById("messages");
		var plotArea = document.getElementById("plotArea");

		submitButton.addEventListener("click", function() {
			
			var netlist = editorContent.value;
			console.log("Netlist :"+editorContent.value);
			socket.emit("netlist", netlist);
		});

		clearButton.addEventListener("click",function(){
			var confirmation = confirm("Are you sure to clear the netlist area ?");
			if (confirmation == true) {
   				editorContent.value = '';
			} 
			else {
    			console.log("Netlist area not cleared");
			} 
		});

		saveButton.addEventListener("click",function(){
			var netlist = editorContent.value;
			//  create a new Blob (html5 magic) that conatins the data from your form feild
    		var textFileAsBlob = new Blob([netlist], {type:'text/plain'});
        	
        	var netListFileName = prompt('Enter name of netlist file to be saved');
        	if(!netListFileName){
        		alert("Please give the proper name");
        	} 

        	console.log(textFileAsBlob);

        	// create a link for our script to 'click'
    		var downloadLink = document.createElement("a");

        	downloadLink.download = netListFileName+'.cir.out';

        	// Link Name
    		downloadLink.innerHTML = "Netlist Download Link";

    		// allow our code to work in webkit & Gecko based browsers
			// without the need for a if / else block.
    		window.URL = window.URL || window.webkitURL;

    		// Create the link Object.
    		downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
			// when link is clicked call a function to remove it from
			// the DOM in case user wants to save a second file.
    		downloadLink.onclick = destroyClickedElement;
			// make sure the link is hidden.
    		downloadLink.style.display = "none";
			// add the link to the DOM
    		document.body.appendChild(downloadLink);
    
			// click the new link
    		downloadLink.click();
		

		});

		socket.on("serverMessage", function(message) {
			console.log("RECEIVED : " + message);
			messages.innerHTML = "<br>" + message;
		});
        
		socket.on("plotData",function(data){
			var nodebranchList = Object.keys(data)

			console.log(Object.keys(data))

			
			var xData = [0,0.00001,0.00001084561,0.00001253682,0.00001591924,0.00002268408,0.00003621377,0.00006327316,0.0001173919,0.0002256294,0.0004421045,0.0008750546,0.001561534,0.002607354,0.004103506,0.006103506,0.008103506,0.01010351,0.01210351,0.01410351,0.01610351,0.01810351,0.02010351,0.02210351,0.02410351,0.02610351,0.02810351,0.03010351,0.03210351,0.03410351,0.03610351,0.03810351,0.04010351,0.04210351,0.04410351,0.04610351,0.04810351,0.05010351,0.05210351,0.05410351,0.05610351,0.05810351,0.06010351,0.06210351,0.06410351,0.06610351,0.06810351,0.07010351,0.07210351,0.07410351,0.07610351,0.07810351,0.08010351,0.08210351,0.08410351,0.08610351,0.08810351,0.09010351,0.09210351,0.09410351,0.09610351]
			var yData = [0,0.00006220965,0.00006791459,0.00008021261,0.0001101286,0.0001911502,0.0004372392,0.001259968,0.004183792,0.01481245,0.05279624,0.1798921,0.467464,0.9716663,1.587461,1.901107,1.501679,0.5286602,-0.646289,-1.57438,-1.90111,-1.50168,-0.52866,0.6462888,1.574377,1.901107,1.501679,0.5286602,-0.646289,-1.57438,-1.90111,-1.50168,-0.52866,0.6462888,1.574377,1.901107,1.501679,0.5286602,-0.646289,-1.57438,-1.90111,-1.50168,-0.52866,0.6462888,1.574377,1.901107,1.501679,0.5286602,-0.646289,-1.57438,-1.90111,-1.50168,-0.52866,0.6462888,1.574377,1.901107,1.501679,0.5286602,-0.646289,-1.57438,-1.90111]
			
			TESTER = document.getElementById("graph");
			Plotly.plot( TESTER, [{
				x: [1, 2, 3, 4, 5],
				y: [1, 2, 4, 8, 16] }], {
					margin: { t: 0 } } 
				);
						
						
							
		});

        
        function destroyClickedElement(event)
		{
			// remove the link from the DOM
    		document.body.removeChild(event.target);
		}
    		

		

	</script>
</body>
</html>