@import url(http://fonts.googleapis.com/css?family=Keania+One);

body,html {
	position:relative;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

.container {
	position:relative;
	height:100%;
	overflow: hidden;
}

.container .topDeck {
	position: relative;
	top:0px;
	width:100%;
	min-width:960px;
	height:70px;
	background:rgb(60,60,60);
	border-bottom:4px solid rgb(50,150,255);
	border-top: 4px solid rgb(50,150,255);
	z-index:1;
}

.topDeck .logo {
	position:absolute;
	background: rgb(0, 158, 255);
	height: 70px;
	width: 317px;
}

.topDeck .controls {
	position:absolute;
	/* border:1px solid red; */
	width:700px;
	height:65px;
	left:320px;
	top:1px;
}

.topDeck .controls .uploadPic {
	font-size: 17px;
	color:#FFF;

	height: 24px;
	padding: 6px;
	font-weight: lighter;
	/* 	border:1px solid #000; */
	width:600px;
	position:absolute;
	top: 3px;
	left: 3px;
	background:rgb(73,73,73);
	border: none;
	display: inline-block;
	outline: none;
	/* content: 'Select some files'; */
}

.topDeck .controls #doUpload {
    position: absolute;
	
    top: 3px;
    left: 602px;
    padding: 9px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(150, 190, 150);
}

.topDeck .controls .progressBarDiv {
	position:absolute;
	width: 594px;
	height: 3px;

	/* border:1px solid red; */
	top: 44px;
	left: 7px;
}

.topDeck .controls .status {
	position:absolute;
	color: #AFAFAF;
	margin:0px;
	padding:0px;
	top: 49px;
	font-family:sans-serif;
	font-weight:normal;
	left:10px;
 	display:none; 
}

.logo h1 {
	position:absolute;
	left: 67px;
	margin: 0px;
	top: 16px;
	font-family: 'Keania One', cursive;
	color: #FFF;
}

.container {
	position:relative;
	background: rgb(41, 41, 41);
	width:100%;
	height:100%;
	overflow-y: auto;
}

textarea {
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

.buttonArea {
    text-align: center;
}

.fromServer{
	text-align: center;	
}